{% extends 'base.html' %}

{% block title %}
    Camisetas
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
    <a href="/shirts/create-shirt/" class="btn btn-primary">Crear Camiseta</a>

    {% endif %}
    {% endif %}
    <div class="row">

    {% for shirt in shirts %}

    <div class="col-sm-3 mx-5">

      
        <div class="card" style="width: 18rem;">
            <img src="{{ shirt.image.url }}" class="card-img-top" width="50%">
            <div class="card-body">
            <h5 class="card-title">Marca: {{shirt.maker}}</h5>
            <h6 class="card-title">Temporada: {{shirt.season}}</h6>
            {% if request.user.is_superuser %}
            <a href="/shirts/update_shirt/{{shirt.pk}}/" class="btn btn-primary">Editar</a>
            <a href="/shirts/delete_shirt/{{shirt.pk}}/" class="btn btn-danger">Eliminar</a>
            {% endif %}
            </div>
        </div>
      </div>

    {% endfor %}

</div>


{% endblock %}