{% extends 'base.html' %}

{% block title %}
    Directores Tecnicos
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
    <a href="/coachs/create-coach/" class="btn btn-primary">Crear Director Tecnico</a>
    {% endif %}
    {% endif %}
    
    <div class="row">

    {% for coach in coachs %}

    <div class="col-sm-3 mx-5">
      
        <div class="card" style="width: 18rem;">
            {% if request.coach.image.url != '' %}
            <img src="{{coach.image}}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{coach.first_name}} {{coach.last_name}}</h5>
            <h6 class="card-title">Edad: {{coach.age}}</h6>
            <h6 class="card-title">Temporada: {{coach.period}}</h6>
            <a href="#" class="btn btn-primary">Editar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        </div>

    {% endfor %}
</div>

{% endblock %}