{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img src="https://w7.pngwing.com/pngs/157/362/png-transparent-coach-knowledge-football-training-collaboration-25.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nombre y Apellido:</h5>
      <h6 class="card-title">Edad:</h6>
      <h6 class="card-title">Altura:</h6>
      <h6 class="card-title">Posicion:</h6>
      <a href="#" class="btn btn-primary">Editar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>

 

{% endblock %}