{% extends 'base.html' %}

{% block title %}
    Jugadores
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}

    <a href="/players/create_player/" class="btn btn-primary">Crear Jugador</a>

    {% endif %}
    {% endif %}
       
    <div class="row">
        
    {% for player in players %}

        
        <div class="col-sm-3 mx-5">
      
            <div class="card" style="width: 18rem;">
                <img src="{{ player.image.url }}" class="card-img-top" width="50%">
                <div class="card-body">
                <h5 class="card-title">{{player.first_name}} {{player.last_name}}</h5>
                <h6 class="card-title">Edad: {{player.age}}</h6>
                <h6 class="card-title">Altura: {{player.height}}</h6>
                <h6 class="card-title">Posicion: {{player.position}}</h6>
                {% if request.user.is_superuser %}
                <a href="/players/update_player/{{player.pk}}/" class="btn btn-primary">Editar</a>
                <a href="/players/delete_player/{{player.pk}}/" class="btn btn-danger">Eliminar</a>
                {% endif %}
                </div>
            </div>
        </div>
        
            
            {% endfor %}
 
        </div>
            
{% endblock %}