<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>{% block title %} Club Atletico Temperley {% endblock %}</title>
</head>
<body background="https://www.itl.cat/pngfile/big/216-2163242_curve-wallpaper-abstract-curve.jpg">
    <header>

        

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
             <!-- Just an image -->
    <nav class="navbar navbar-light bg-light" >
       
        <a class="navbar-brand" href="/">
         <img  src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Club_temperley_logo.png" alt="Club Atletico Temperley" width="50" height="50" >
        </a>
    </nav>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/players/list-players/">Jugadores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shirts/list-shirts/">Camisetas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coachs/list-coachs/">Directores Tecnicos</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/players/list-players/" method="GET" >
            <input class="form-control mx-5 mr-sm-5" type="search" placeholder="Buscar Jugador" aria-label="Search" name="search" >
            <button class="btn btn-outline-success  my-2 my-sm-0" type="submit" >Buscar</button>
          </form>
        </div>
      </nav>

    </header>

    {% block content %}

    {% endblock %}
  

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>